<!DOCTYPE html>
<html>
<head>
  <title>Play</title>

  <link rel="stylesheet" type="text/css" href="/css/chessboard-0.3.0.css">
</head>
<body>
  <h1>Play game <%= game.hid %></h1>
  
  <!-- <p><a href="#" onclick="move()">Move</a></p> -->

  <h2>Game</h2> 

  <p>Turn: <strong><span id="current_player"></span></strong></p>

  <div id="board" style="width: 500px"></div>

  <!-- socketio -->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/chess.js"></script>
  <script type="text/javascript" src="/js/chessboard-0.3.0.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <script>
    function move() {
      socket.emit('game.move')      
    }

    window.player = null
    window.socket = io.connect('/<%= game.hid %>')

    socket.on('game.player', function (data) {
      console.log('player:' + data.player.role)
      window.player = data.player
    })

    socket.on('game.canstart', function (data) {
      console.log('ok to play', data.fog)
      window.game.load(data.fog)
      window.board.position(data.fog)
      setPlayer()
    })

    socket.on('board.update', function (data) {
      console.log(data)
      window.game.load(data.fog)
      window.board.position(data.fog)
      setPlayer()
    })

    function setPlayer () {
      if (game.turn() === 'b') {
        $('#current_player').text('black')
      } else {
        $('#current_player').text('white')
      }
    }

    // socket.on('move')
  </script>
</body>
</html>
